@import 'base/reset';

@import 'components/carousel';

@font-face {
	font-family: 'Roboto Light';
	src: url('../fonts/Roboto-Light-Regular/roboto-light-webfont.eot');
	src: url('../fonts/Roboto-Light-Regular/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Light-Regular/roboto-light-webfont.woff2') format('woff2'),
	url('../fonts/Roboto-Light-Regular/roboto-light-webfont.woff') format('woff'),
	url('../fonts/Roboto-Light-Regular/roboto-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular/montserrat-regular-webfont.eot');
	src: url('../fonts/Montserrat-Regular/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Regular/montserrat-regular-webfont.woff2') format('woff2'),
	url('../fonts/Montserrat-Regular/montserrat-regular-webfont.woff') format('woff'),
	url('../fonts/Montserrat-Regular/montserrat-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold/montserrat-bold-webfont.eot');
	src: url('../fonts/Montserrat-Bold/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Bold/montserrat-bold-webfont.woff2') format('woff2'),
	url('../fonts/Montserrat-Bold/montserrat-bold-webfont.woff') format('woff'),
	url('../fonts/Montserrat-Bold/montserrat-bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

$btn-bg: #ff4e50;
$btn-color: #fff;

$Roboto-Light: 'Roboto Light', Arial, sans-serif;
$Montserrat: Montserrat, Arial, sans-serif;

.clearfix:after,
.clearfix:before {
	content: ' ';
	display: block;
	clear: both;
}

a {
	text-decoration: none;
}

h2 {
	font: 22px $Montserrat;
	color: #333;
	font-weight: bold;
}

%btn-search-partner {
	display: block;
	width: 284px;
	padding: 11px 0;
	border-radius: 20px;
	margin: 0 auto;
	background: $btn-bg;
	font: 14px $Montserrat;
	color: $btn-color;
	font-weight: bold;
}

.header {
	min-height: 442px;
	min-width: 280px;
	padding: 32px 20px 67px 20px;
	background: #cccccc url(../img/bg_header.jpg) center no-repeat;
	background-size: cover;
	text-align: center;
}

.login {
	width: 153px;
	margin: 0 auto;
	&__link {
		margin-right: 18px;
		font: 14px $Montserrat;
		color: #fff;
		font-weight: bold;
		float: left;
		&:hover {
			color: #EC4547;
		}
		&--border {
			margin: -12px 0 0 0;
			padding: 8px 15px;
			border: 2px solid #fff;
			border-radius: 20px;
			&:hover {
				border: 2px solid #EC4547;
				background: #EC4547;
				color: #fff;
			}
		}
	}
}

.logo {
	margin-top: 116px;
	a {
		font: 20px $Montserrat;
		color: #fff;
		font-weight: bold;
	}
}

.title {
	margin-top: 29px;
	font: 29px $Montserrat;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.descr {
	margin-top: 8px;
	font: 18px $Roboto-Light;
	color: #fff;
}

.header .btn-search-partner {
	@extend %btn-search-partner;
	margin-top: 12px;
	&:hover {
		background: #EC4547;
	}
}

.wrapper {
	padding: 34px 10px 0 10px;
	text-align: center;
}

//section***************
.how-works h2 {
	margin-bottom: 4px;
}

.step {
	margin: 10px auto 0 auto;
	padding: 69px 19px 5px 19px;
	border-radius: 5px;
	text-align: left;
	&__btn {
		display: inline-block;
		padding: 4px 8px;
		background: $btn-bg;
		border-radius: 20px;
		font: 10px $Montserrat;
		color: $btn-color;
		text-transform: uppercase;
		letter-spacing: 4px;
		&:hover {
			background: #EC4547;
		}
	}
	&__title {
		margin-top: 15px;
		font: 24px $Montserrat;
		color: #fff;
		font-weight: bold;
	}
	&__text {
		margin-top: 10px;
		font: 14px/17px $Roboto-Light;
		color: #ccc;
	}
	&--bg1 {
		width: 300px - 19px - 19px;
		height: 267px - 81px - 20px;
		background: #ccc url(../img/step-1.jpg) 0 0 no-repeat;
	}
	&--bg2-and-padding {
		width: 300px - 19px - 19px;
		height: 259px - 102px - 20px;
		padding: 99px 19px 4px 19px;
		background: #ccc url(../img/step-2.jpg) 0 0 no-repeat;
	}
	&--bg3 {
		width: 300px - 19px - 19px;
		height: 263px - 81px - 20px;
		background: #ccc url(../img/step-3.jpg) 0 0 no-repeat;
	}
}

//section***********
.meet-partner {
	padding-top: 39px;
}

.partner {
	width: 220px;
	margin: 24px auto;
	text-align: center;
	&__photo-wrap {
		width: 125px;
		margin: 0 auto;
		position: relative;
		a {
			display: block;
		}
		&--add-icon-1:after {
			content: url("../img/icon-partner-1.png");
			width: 41px;
			height: 41px;
			position: absolute;
			right: -2px;
			bottom: -2px;
		}
		&--add-icon-2:after {
			@extend .partner__photo-wrap--add-icon-1;
			content: url("../img/icon-partner-2.png");
		}
		&--add-icon-3:after {
			@extend .partner__photo-wrap--add-icon-1;
			content: url("../img/icon-partner-3.png");
		}
		&--add-icon-4:after {
			@extend .partner__photo-wrap--add-icon-1;
			content: url("../img/icon-partner-4.png");
		}
	}
	&__name {
		margin-top: 15px;
		font: 14px $Montserrat;
		color: #333;
		font-weight: bold;
	}
	&__about {
		margin-top: 11px;
		font: 14px $Roboto-Light;
		color: #666;
	}
	&--margin {
		margin-top: 12px;
	}
}

.meet-partner .btn-more-partners {
	display: block;
	width: 280px;
	padding: 10px 0;
	border: 2px solid #ff4e50;
	border-radius: 20px;
	margin: -4px auto;
	font: 14px $Montserrat;
	color: #ff4e50;
	font-weight: bold;
	&:hover {
		border: 2px solid #EC4547;
		background: #EC4547;
		color: #fff;
	}
}

//*********section***
.holiday-ideas {
	margin-top: 37px;
}

.holiday-ideas h2 {
	margin: 27px 0 8px 0;
}

.tile {
	margin: 5px 0;
	position: relative;
	&__tag {
		font: 22px $Montserrat;
		color: #fff;
		font-weight: bold;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&__img {
		width: 100%;
		border-radius: 5px;
	}
}

.form-search-partner {
	margin-top: 7px;
	&__title {
		font: 18px $Roboto-Light;
		color: #333;
	}
	&__field {
		width: 280px - 15px - 15px;
		margin-top: 16px;
		padding: 9px 15px;
		border: 1px solid #ccc;
		border-radius: 5px;
		font: 14px $Roboto-Light;
		color: #999;
	}
	&__btn {
		@extend %btn-search-partner;
		margin-top: 10px;
		border: none;
		cursor: pointer;
		&:hover {
			background: #EC4547;
		}
	}
}

//************section
.footer {
	padding: 16px 10px 17px 10px;
	border-top: 4px solid #ff4e50;
	margin-top: 41px;
	text-align: center;
	.logo-footer a {
		font: 16px $Montserrat;
		color: #ff4e50;
		font-weight: bold;
	}
	.company, .partners {
		margin-top: 12px;
		font: 14px $Montserrat;
		color: #333;
		font-weight: bold;
	}
}

.developer {
	margin-top: 15px;
	&__designed {
		font: 10px $Montserrat;
		color: #ccc;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	&__logo {
		margin-top: 10px;
	}
}

.nav {
	width: 210px;
	margin: 0 auto;
	&__item {
		margin-left: 13px;
		float: left;
	}
	&__link {
		font: 14px $Roboto-Light;
		color: #666;
		&:hover {
			color: #EC4547;
		}
	}
}

@media (min-width: 768px) {

	.header {
		padding: 50px 50px 212px 50px;
	}

	.logo {
		margin: 0;
		float: left;
	}

	.login {
		margin: 0;
		float: right;
	}

	.title {
		margin-top: 144px;
		font-size: 52px;
	} 

	.descr {
		margin-top: 21px;
		font-size: 24px;
	}

	.header .btn-search-partner {
		margin-top: 32px;
		width: 230px;
	}

	//******section***
	.wrapper {
		padding: 95px 10px 0 10px;
	}

	.how-works h2 {
		margin-bottom: 23px;
	}

	.step-wrap {
		width: 33.3%;
		float: left;
	}

	.step {
		width: 236px - 19px - 19px;
		height: 417px - 211px - 20px;
		padding-top: 211px;
		&--bg1 {
			background: #ccc url(../img/step-1-md.jpg) 0 0 no-repeat;
		}
		&--bg2-and-padding-and-margin {
			height: 417px - 259px - 20px;
			padding-top: 259px;
			background: #ccc url(../img/step-2-md.jpg) 0 0 no-repeat;
		}
		&--bg3 {
			background: #ccc url(../img/step-3-md.jpg) 0 0 no-repeat;
		}
	}

	//******section******
	.meet-partner {
		padding-top: 95px;
	}

	.meet-partner h2 {
		margin-bottom: 35px;
	}

	.partner-wrap {
		width: 50%;
		float: left;
	}

	.partner {
		margin-top: 0;
		&--margin {
			margin-top: 0;
		}
		&--margin-top {
			margin-top: 56px;
		}
	}

	.meet-partner .btn-more-partners {
		width: 190px;
	}

	//**********section****
	.holiday-ideas {
		margin-top: 97px;
	}

	.holiday-ideas h2 {
		margin-bottom: 14px;
		margin-top: 97px;
	}

	.tile {
		max-width: 32.3%;
		margin: 20px 0 0 0;
		float: left;
	}

	.form-search-partner {
		width: 410px;
		margin: 28px auto 0 auto;
		&__field {
			width: 238px - 15px - 15px;
			margin-top: 39px;
			margin-right: 10px;
			float: left;
		}
		&__btn {
			width: 159px;
			margin-top: 39px;
			float: left;
		}
	}


	//*****section***
	.footer {
		padding: 38px 40px 92px 40px;
		margin-top: 100px;
		text-align: left;
		position: relative;
		.logo-footer {
			float: left;
		}
		.company, .partners {
			margin: 0 0 0 94px;
			float: left;
		}
		.partners {
			margin-left: 100px;
		}
	}

	.nav {
		width: 100px;
		position: absolute;
		left: 256px;
		top: 64px;
		&__item {
			margin-bottom: 6px;
			float: none;
		}
	}

	.developer {
		margin-top: 0;
		float: right;
		text-align: right;
	}
}

@media (min-width: 977px) {

	.header {
		padding: 50px 0 212px 0;
		.wrap {
			padding: 0 10px;
		}
	}

	.header .wrap,
	.wrapper {
		max-width: 960px - 10px - 10px;
		margin: 0 auto;
	}

	//*****section****
	.step {
		width: 301px - 19px - 19px;
		height: 416px - 230px - 20px;
		padding-top: 230px;
		&--bg1 {
			background: #ccc url(../img/step-1-lg.jpg) 0 0 no-repeat;
		}
		&--bg2-and-padding-and-margin {
			height: 416px - 259px - 20px;
			padding-top: 259px;
			background: #ccc url(../img/step-2-lg.jpg) 0 0 no-repeat;
		}
		&--bg3 {
			background: #ccc url(../img/step-3-lg.jpg) 0 0 no-repeat;
		}
	}

	//******section****
	.partner-wrap {
		width: 25%;
	}

	.partner--margin-top {
		margin-top: 0;
	}

	//*********section*****
	.footer .wrap {
		max-width: 960px - 10px - 10px;
		padding: 0 10px;
		margin: 0 auto;
		position: relative;
	}

	.nav {
		left: 238px;
		top: 25px;
	}

	.footer { 
		padding: 38px 0 92px 0;
		.company, .partners {
			margin: 0 0 0 107px;
		}
		.partners {
			margin-left: 93px;
		}
	}
}

