@import "base/reset";

@font-face {
	font-family: 'Roboto Light';
	src: url('../fonts/Roboto-Light-Regular/roboto-light-webfont.eot');
	src: url('../fonts/Roboto-Light-Regular/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Light-Regular/roboto-light-webfont.woff2') format('woff2'),
	url('../fonts/Roboto-Light-Regular/roboto-light-webfont.woff') format('woff'),
	url('../fonts/Roboto-Light-Regular/roboto-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular/montserrat-regular-webfont.eot');
	src: url('../fonts/Montserrat-Regular/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Regular/montserrat-regular-webfont.woff2') format('woff2'),
	url('../fonts/Montserrat-Regular/montserrat-regular-webfont.woff') format('woff'),
	url('../fonts/Montserrat-Regular/montserrat-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold/montserrat-bold-webfont.eot');
	src: url('../fonts/Montserrat-Bold/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Bold/montserrat-bold-webfont.woff2') format('woff2'),
	url('../fonts/Montserrat-Bold/montserrat-bold-webfont.woff') format('woff'),
	url('../fonts/Montserrat-Bold/montserrat-bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

$btn-bg: #ff4e50;
$btn-color: #fff;

$Roboto-Light: 'Roboto Light', Arial, sans-serif;
$Montserrat: Montserrat, Arial, sans-serif;

.clearfix:after,
.clearfix:before {
	content: ' ';
	display: block;
	clear: both;
}

a {
	text-decoration: none;
}

h2 {
	font: 22px $Montserrat;
	color: #333;
	font-weight: bold;
}


%btn-search-partner {
	display: block;
	width: 280px;
	padding: 11px 0;
	border-radius: 20px;
	margin: 0 auto;
	background: $btn-bg;
	font: 14px $Montserrat;
	color: $btn-color;
	font-weight: bold;
}


.header {
	min-height: 540px;
	min-width: 280px;
	padding: 32px 20px 67px 20px;
	background: #cccccc url(../img/bg_header.jpg) center no-repeat;
	background-size: cover;
	text-align: center;
}

.login {
	width: 150px;
	margin: 0 auto;
	&__link {
		margin-right: 18px;
		font: 14px $Montserrat;
		color: #fff;
		font-weight: bold;
		float: left;
		&--border {
			margin: -12px 0 0 0;
			padding: 8px 15px;
			border: 2px solid #fff;
			border-radius: 20px;
		}
	}
}

.logo {
	margin-top: 120px;
	a {
		font: 20px $Montserrat;
		color: #fff;
		font-weight: bold;
	}
}

.title {
	margin-top: 38px;
	font: 29px $Montserrat;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.descr {
	margin-top: 17px;
	font: 18px $Roboto-Light;
	color: #fff;
}

.header .btn-search-partner {
	@extend %btn-search-partner;
	margin-top: 19px;
}

.wrapper {
	padding: 38px 10px 0 10px;
	text-align: center;
}

//section***************
.how-works h2 {
	margin-bottom: 20px;
}

.step {
	margin: 10px auto 0 auto;

	padding: 81px 19px 20px 19px;
	border-radius: 5px;
	text-align: left;
	&__btn {
		display: inline-block;
		padding: 5px 12px;
		background: $btn-bg;
		border-radius: 20px;
		font: 10px $Montserrat;
		color: $btn-color;
		text-transform: uppercase;
		letter-spacing: 4px;
	}
	&__title {
		margin-top: 15px;
		font: 24px $Montserrat;
		color: #fff;
		font-weight: bold;
	}
	&__text {
		margin-top: 15px;
		font: 14px $Roboto-Light;
		color: #ccc;
	}
	&--bg1 {
		width: 300px - 19px - 19px;
		height: 267px - 81px - 20px;
		background: #ccc url(../img/step-1.jpg) 0 0 no-repeat;
	}
	&--bg2-and-padding {
		width: 300px - 19px - 19px;
		height: 259px - 102px - 20px;
		padding: 102px 19px 20px 19px;
		background: #ccc url(../img/step-2.jpg) 0 0 no-repeat;
	}
	&--bg3 {
		width: 300px - 19px - 19px;
		height: 263px - 81px - 20px;
		background: #ccc url(../img/step-3.jpg) 0 0 no-repeat;
	}
}

//section***********
.meet-partner {
	padding-top: 39px;
}

.partner {
	width: 220px;
	margin: 29px auto;
	text-align: center;
	&__photo-wrap {
		width: 125px;
		margin: 0 auto;
		position: relative;
		&--add-icon-1:after {
			content: url("../img/icon-partner-1.png");
			width: 41px;
			height: 41px;
			position: absolute;
			right: -2px;
			bottom: -2px;
		}
		&--add-icon-2:after {
			@extend .partner__photo-wrap--add-icon-1;
			content: url("../img/icon-partner-2.png");
		}
		&--add-icon-3:after {
			@extend .partner__photo-wrap--add-icon-1;
			content: url("../img/icon-partner-3.png");
		}
		&--add-icon-4:after {
			@extend .partner__photo-wrap--add-icon-1;
			content: url("../img/icon-partner-4.png");
		}
	}
	&__name {
		margin-top: 19px;
		font: 14px $Montserrat;
		color: #333;
		font-weight: bold;
	}
	&__about {
		margin-top: 15px;
		font: 14px $Roboto-Light;
		color: #666;
	}
	&--margin {
		margin-top: 18px;
	}
}

.meet-partner .btn-more-partners {
	display: block;
	width: 280px;
	padding: 11px 0;
	border: 2px solid #ff4e50;
	border-radius: 20px;
	margin: 0 auto;
	font: 14px $Montserrat;
	color: #ff4e50;
	font-weight: bold;
}

//*********section***
.holiday-ideas h2 {
	margin-top: 38px;
}

.tile {
	margin: 10px;
	position: relative;
	&__tag {
		font: 22px $Montserrat;
		color: #fff;
		font-weight: bold;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&__img {
		width: 100%;
		height: 100%;
	}
}

.search-partner {
	&__title {
		margin-top: 18px;
		font: 18px $Roboto-Light;
		color: #333;
	}
	&__field {
		width: 280px - 15px - 15px;
		margin-top: 18px;
		padding: 7px 15px;
		border: 1px solid #ccc;
		border-radius: 5px;
		font: 14px $Roboto-Light;
		color: #999;
	}
	&__btn {
		@extend %btn-search-partner;
		margin-top: 10px;
		border: none;
		cursor: pointer;
	}
}

//************section
.footer {
	padding: 20px 10px 17px 10px;
	border-top: 4px solid #ff4e50;
	margin-top: 40px;
	text-align: center;
	.logo-footer a {
		font: 16px $Montserrat;
		color: #ff4e50;
		font-weight: bold;
	}
	.company, .partners {
		margin-top: 17px;
		font: 14px $Montserrat;
		color: #333;
		font-weight: bold;
	}
	.designed {
		margin-top: 19px;
		font: 10px $Montserrat;
		color: #ccc;
		font-weight: bold;
		text-transform: uppercase;
	}
	.developer {
		margin-top: 10px;
	}
}

.nav {
	width: 210px;
	margin: 7px auto 0 auto;
	&__list {

	}
	&__item {
		margin-left: 13px;
		float: left;
	}
	&__link {
		font: 14px $Roboto-Light;
		color: #666;
	}
}

@media (min-width: 768px) {

	.header {
		padding: 50px 50px 67px 50px;
	}

	.logo {
		margin: 0;
		float: left;
	}

	.login {
		margin: 0;
		float: right;
	}

	.title {
		margin-top: 155px;
		font-size: 52px;
	}

	.descr {
		margin-top: 39px;
		font-size: 24px;
	}

	.header .btn-search-partner {
		margin-top: 39px;
	}

	//******section***
	.wrapper {
		padding: 95px 10px 0 10px;
	}

	.how-works h2 {
		margin-bottom: 37px;
	}

	.step-wrap {
		width: 33.3%;
		float: left;
	}

	.step {
		width: 236px - 19px - 19px;
		height: 417px - 211px - 20px;
		padding-top: 211px;
		&--bg1 {
			background: #ccc url(../img/step-1-md.jpg) 0 0 no-repeat;
		}
		&--bg2-and-padding-and-margin {
			height: 417px - 259px - 20px;
			padding-top: 259px;
			background: #ccc url(../img/step-2-md.jpg) 0 0 no-repeat;
		}
		&--bg3 {
			background: #ccc url(../img/step-3-md.jpg) 0 0 no-repeat;
		}
	}

	//******section******
	.meet-partner {
		padding-top: 95px;
	}

	.meet-partner h2 {
		margin-bottom: 35px;
	}

	.partner-wrap {
		width: 50%;
		float: left;
	}

	.partner--margin-top {
		margin-top: 56px;
	}

	.meet-partner .btn-more-partners {
		width: 190px;
	}

	//**********section****
	.holiday-ideas h2 {
		margin-top: 97px;
	}
}

