<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Module 23-24</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/script.js"></script>
</head>
<body>


<script type="text/tmpl" id="tmpl-todo-list-wrap">
	<div class="todo-list">
		<p>Дабл-клик для редактирования</p>
		<ul class="todo-list__list"></ul>
		<form action="#">
			<input type="text" class="todo-list__field">
			<button class="todo-list__btn">Добавить</button>
		</form>
	</div>
</script>

<script type="text/tmpl" id="tmpl-todo-list-item">
	<% for (var i = 0; i < data.length; i++) { %>
		<div class="todo-list__item-wrap">
			<li class="todo-list__item"><%= data[i] %><span data-value="<%= data[i] %>" class="todo-list__delete fa fa-close"></span></li>
			<div class="todo-list__edit">
				<form action="#">
					<input type="text" class="todo-list__field-edit" value="<%= data[i] %>">
					<button class="todo-list__btn-edit">Изменить</button>
				</form>
			</div>
		</div>
	<% } %>
</script>



</body>
</html>