.slider img {
    width: 20%;
    padding: 0;
    margin: 0;
    line-height: 0;
}
.slider {
    width: 377px;
    margin: 0 auto;
    padding: 0 64px;
    position: relative;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    height: 240px;
    border: 3px solid green;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

.jcarousel-prev {
    position: absolute;
    left: 15px;
    top: 91px;
}

.jcarousel-next {
    position: absolute;
    right: 15px;
    top: 91px;
}

.jcarousel-prev img,
.jcarousel-next img {
    width: 30px;
}

/*custom selects*/
.wrap-custom-select {
    margin: 20px;
}

.custom-select {
    width: 248px;
}

.option {
    width: 200px;
}

/*custom checkbox on CSS*/
.custom-checkbox-css {
    padding: 8px;
    border: 1px solid #ccc;
    position: absolute;
    right: 20px;
    top: 100px;
}

.custom-checkbox-css p {
    font-size: 20px;
    font-style: italic;
}

.custom-checkbox-css input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.custom-checkbox-css label {
    display: block;
    cursor: pointer;
}
.custom-checkbox-css label:after {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 19px;
    background: url(../img/checkbox-img.png) -20px 0 no-repeat;
    position: relative;
    top: 3px;
    margin-left: 15px;
}
.custom-checkbox-css input[type=checkbox]:checked + label:after {
    background-position: 0 0;
}

/*custom checkbox on JS*/
.custom-checkbox-js {
    padding: 8px;
    border: 1px solid #ccc;
    position: absolute;
    left: 20px;
    top: 200px;
}

.custom-checkbox-js p {
    font-size: 20px;
    font-style: italic;
}

.custom-checkbox-js label {
    display: block;
}

.custom-checkbox-js label:nth-child(6)  {
    margin-top: 15px;
}


/* Выпадающая меню */
nav {
    background: #FF6464;
    position: absolute;
    left: 420px;
    top: 284px;
}

li {
    list-style: none;
}

.menu li a,
.sub-menu li a,
.sub2-menu li a {
    display: block;
    padding: 10px 21px;
    color: #fff;
    text-decoration: none;
    position: relative;
}

.menu li a:hover {
    color: #585858;
}

.menu li {
    margin: 0 5px;
    float: left;
    position: relative;
}

.sub-menu {
    display: none;
    background: #FF6464;
    position: absolute;
}

.sub-menu li {
    margin-left: 0;
    width: 150px;
    border-top: 1px solid #C83232;
    float: none;
}

.sub-menu li:first-child {
    border-top: none;
}

.sub2-menu,
.sub3-menu {
    display: none;
    width: 100%;
    background: #FF6464;
    position: absolute;
    left: 100%;
    top: 0;
}

.sub2-menu li {
    width: 150px;
}

.arrow-down:after {
    content: url("../img/arrow-menu-down.png");
    position: absolute;
    right: 5px;
    top: 9px;
}

.arrow:after {
    content: url("../img/arrow-menu.png");
    position: absolute;
    right: 5px;
    top: 9px;
}
