body {
    background: #fff;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.tabs {
    width: 500px;
    height: 300px;
    border: 1px solid #ccc;
    margin: 50px;
    position: relative;
}

.tabs ul {
    background: #ccc;
}

.tab-li {
    margin-top: 18px;
    margin-right: 20px;
    list-style: none;
    float: left;
}

.tab-li span {
    display: block;
    padding: 6px 30px;
    border: 1px solid #fff;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    cursor: pointer;
}

.tab-li span:hover {
    background: #fff;
}

.tab-content{
    display: none;
    padding: 10px;
    background: #fff;
    position: absolute;
    left: 0;
}

/********** При клике на таб ****************/
.active {
    background: #fff;
}
/*************************/


/***************FORM***************/

.form {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 100px 30px;
    float: left;
}

.form__row-1,
.form__row-2,
.form__row-3 {
    margin-bottom: 20px;
    position: relative;
}

.form__row-3 input {
    margin-left: 15px;
}

.form__help-1,
.form__help-2,
.form__help-3 {
    display: none;
    width: 220px;
    padding: 3px 8px;
    border: 2px solid #686868;
    border-radius: 5px;
    position: absolute;
    left: 260px;
    top: 1px;

    -webkit-box-shadow:  0 0 10px #686868;
    -moz-box-shadow:  0 0 10px #686868;
    box-shadow:  0 0 10px #686868;
}

